@use "var";

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
}

body {
    background-color: var.$bg-color;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
}

p, ul {
    line-height: 1.5;
    letter-spacing: 0.3;
}

h2 {
    margin-bottom: 0.6em;
}

h3, h4, h5 {
    margin: 0.1em 0;
}



.amount {
    background-color: rgb(0, 8, 255);
    width: 20px;
    height: 20px;
    display: flex;
    cursor: pointer;
    margin: -30px 15px 0 0;
    z-index: 40;
    float: right;
    position: relative;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-weight: 600;
}



.saved-jobs {
    height: 70vh;
    overflow: scroll;
}

.saved-links {
    background-color: #fff;
    margin: 15px auto;
    height: 3em;
    max-width: 700px;
    border-radius: 20px;
    padding: 10px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.link-wrapper {
    color: black;
    text-decoration: none;
}



 

::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: none;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(var.$pop-color, #ff22e6);
    border-radius: 10px;
}


.search-container {
    
    label {
        display: none;
    }

    input {
        width: 40%;
        height: 2em;
        padding: 0 0.5em;
        border-radius: 5px;
        border: none;
    }

    button {
        height: 2em;
        width: 4em;
        background-color: var.$pop-color;
        border: none;
        border-radius: 5px;
        font-weight: 600;
    }

    button:hover {
        background-color: var.$darker-pop-color;
        cursor: pointer;
    }
}

/*Mina sparade jobb*/

.saved-button {
    display: block;
    width: 50px;
    cursor: pointer;
    appearance: none;
    background: none;
    outline: none;
    border: none;
    margin: -20px 1em 0;
    z-index: 10;
    float: right;
}

.saved-button .bar {
    display: block;
    border-radius: 5px;
    width: 100%;
    margin: 10px 0 0;
    transition: 0.4s;
    position: relative;
    z-index: 10;

    img {
        width: 3.5em;
    }
}



.saved-jobs {
    display: block;
    position: fixed;
    top: 0;
    left: 100%;
    width: 100%;
    min-height: 100vh;
    z-index: 1;
    background-color: var.$pop-color;
    padding-top: 120px;
    transition: 0.4s;
}

.saved-jobs.active {
    left: 0;
}

