/*Färgschema ljust*/
$bg-color: #721aff;
$darker-bg: darken($bg-color, 20%);
$main-color: #fff;
$darker-main: darken($main-color, 20%);
$pop-color: #ffbb0e;
$darker-pop-color: darken($pop-color, 8%);

